src/base_application/api/member_xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="member" type="memberType"/>
  <xs:complexType name="memberType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="email"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>